body {
    padding-top: 65px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand>img {
    height: 50px;
    padding: 0px 0px 5px 0px;
}

img.portrait {
    width: 150px;
    height: 150px
                
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow:0 0 2px #000;
    -moz-box-shadow:0 0 2px #000;
    -ms-box-shadow:0 0 2px #000;
    -o-box-shadow:0 0 2px #000;
    box-shadow:0 0 2px #000;
}

img.general-photo {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.3);
}

div.profiles {
    padding-top: 1em;
}

div.profile {
    padding-bottom: 2em;
}

ul.list-comma {
  display: inline;
  list-style: none;
  padding-left: 0;
}

ul.list-comma li {
  display: inline;
}

ul.list-comma li:after {
  content: ", ";
}

ul.list-comma li:last-child:after {
    content: "";
}