<p>The CS department offers several courses on data mining and machine learning topics. The regularly offered courses are:
  <ul class="list-unstyled">
    {{#courses}}
      <li><a href="{{url}}">{{id}} - {{title}}</a></li>
    {{/courses}}
  </ul>
</p>