<img src="img/group_lunch.jpg" class="img-responsive">
<hr>
<p class="lead">Welcome to the Data Mining & Machine Learning Lab website!</p>
<p>
  The DM&ML Lab works on various data mining and machine learning research questions involving: multi-task learning, optimization methods, relational data, dynamic networks, and more.
</p>
<p>
  Our site is new and will eventually past and current projects, datasets, and code will be made available. Please excuse the sparsity.
</p>