<!--
<img src="img/group_lunch.jpg" class="img-responsive">
<hr>
-->
<p class="lead">Welcome to the Data Mining and Machine Learning Lab website.</p>
<p>
  The DMML Lab works on a diverse set of data mining and machine learning research topics. Please browse the website to learn more about the lab and our research.
</p>
