<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GMU DM&ML Lab</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap-readable.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/custom.css" rel="stylesheet">
  
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header pull-right">
            <ul class="nav pull-left">
              <li>
                <a class="navbar-brand" href="http://www.gmu.edu">
                  <img src="img/gmu-logo.jpg">
                </a>
              </li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-header">
            <a class="navbar-brand" href="index.php">Home</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              {{#nav-pages}}
              <li {{#active}}class="active"{{/active}}><a href="{{path}}">{{title}}</a>
              </li>
              {{/nav-pages}}
            </ul>
          </div><!--/.navbar-collapse-->
        </div><!-- /.container -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- page header --> 
          <div class="container">
            <div class="row"> 
              <div class="col-lg-6">
                <h3>Data Mining & Machine Learning Lab
                <small><a href="http://cs.gmu.edu">Department of Computer Science</a></small></h3>
              </div><!--/col--> 
            </div><!--/row-->
          </div><!--/container-->
          <hr>
          <!--/page header-->

          {{{content}}}

        </div><!--/col-->

        <div class="col-lg-4">
          <div class="well">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </div><!-- /well -->

          <div class="well">
              <h4>Recent News</h4>
              <p>Interesting stuff goes here.</p>
          </div><!-- /well -->

        </div>
      </div>

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>
              <img src="img/gmu-dec-of-ind-crest.png" height=100px>
              Copyright &copy; George Mason University 2014
            </p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>
  </body>

</html>
