<img class="general-photo img-responsive" src="img/people.jpg" />

<hr />

<div class="col-lg-12">
  <h3>Faculty</h3>
  <div class="profiles">
    {{#faculty}}
      {{>profile}}
    {{/faculty}}
  </div>
</div><!--/container: faculty-->

<div class="col-lg-12">
  <h3>PhD Students</h3>
  <div class="profiles">
    {{#phd-students}}
      {{>profile}}
    {{/phd-students}}
  </div>
</div><!--/container: PhD Students-->

<div class="col-lg-12">
  <h3>Master's Students</h3>
  <div class="profiles">
    {{#ms-students}}
      {{>profile}}
    {{/ms-students}}
  </div>
</div><!--/container: Master's Students-->

<div class="col-lg-12">
  <h3>Undergraduate Students</h3>
  <div class="profiles">
    {{#ug-students}}
      {{>profile}}
    {{/ug-students}}
  </div>
</div><!--/container: Undergraduate Students-->

<div class="col-lg-12">
  <h3>Visiting Scholars</h3>
  <div class="profiles">
    {{#visiting-scholars}}
      {{>profile}}
    {{/visiting-scholars}}
  </div>
</div><!--/container: Visiting Scholars-->

<div class="col-lg-12">
  <h3>Alumni</h3>
  <div class="profiles">
    {{#alumni}}
      {{>profile}}
    {{/alumni}}
  </div>
</div><!--/container: Alumni-->
