<div class="col-lg-6 col-md-6 profile">
  <img class="portrait" src="img/{{img}}" />
  <h4><a href="{{homepage}}">{{name}}</h4></a>
  {{! For alumni }}
  {{#year}}
    <p>{{year}}, {{previous}}</p>
  {{/year}}

  {{! Use an interests? section instead of crazy sections }}
  {{#interests?}}
  <div><strong>Interests:</strong>
  <ul class="list-comma">
    {{#interests}}
      <li>{{.}}</li>
    {{/interests}}
  </ul>
  </div>
  {{/interests?}}
  
  {{^interests?}}<br /><br />{{/interests?}}
  
  {{! For visiting scholars }}
  {{#from}}
    <p><strong>From:</strong> {{from}}</p>
  {{/from}}

</div><!--/col-->