<div class="col-lg-6 col-md-6 profile">
  <img class="portrait" src="img/{{img}}" />
  <h4><a href="{{homepage}}">{{name}}</h4></a>
  {{! For alumni }}
  {{#year}}
    <p>{{year}}, {{previous}}</p>
  {{/year}}

  <div><strong>Interests:</strong>
  <ul class="list-comma">
    {{#interests}}
      <li>{{.}}</li>
    {{/interests}}
  </ul>
  {{^interests}}<br /><br /> <br />{{/interests}}
  </div>

  {{! For visiting scholars }}
  {{#from}}
    <p><strong>From:</strong> {{from}}</p>
  {{/from}}

</div><!--/col-->